<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA FLASK</title>
</head>
<body>
    <h1>INGRESA AL SISTEMA</h1>

    <form action="/login" method="post">
        <table>
            <thead>
            </thead>
            <tbody>
            <tr>
                <td><label for="username">Ingresa el Usuario: </label></td>
                <td><input type="text" name="username" id="username" required></td>
            </tr>
            <tr>
                <td><label for="password">Ingresa la Contraseña: </label></td>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Ingresar</button></td>
            </tr>
            </tbody>
        </table>
    </form>

</body>
</html>